MONGO_PORT=27017
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin123
MONGO_DATABASE=beverage_ordering_system
MONGO_URI=mongodb://admin:admin123@localhost:27017/beverage_ordering_system?authSource=admin
